<div class="container">
  <div class="category">
    <p>ACCOUNT
  </div>
  <div class="account">
    <p>Johnny Sasaki</p>
    <p>Midori Lane</p>
    <p>Ometesando</p>
    <p>js@4k1B4.com</p>
  </div>
</div>
