<div class="container">
  <div class="category">
    <p>HISTORY
  </div>
  <div class="history">
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle fail-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ongoing-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle void-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle fail-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ongoing-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ongoing-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle fail-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
    <div class="date">
      <div class="h-circle ok-delivery"></div>
      <p>18.06.20</p>
    </div>
  </div>
</div>
