<div class="container">
  <div class="category">
    <p>PAYLOAD
  </div>
  <div class="payload">
    <div class="payload-courier">
      <p class="active-courier">
        <img src="/images/circle-sm-ok.png" />
        ACTIVE COURIER: J.LeCoultre</p>
      <p class="passive-courier">
        <img src="/images/circle-sm-fail.png" />
        LOST COURIER: P.Phillippe</p>
    </div>
    <div class="payload-load">
      <div class="payload-big">
        <p>HARDWARE<br />94.4KG</p>
      </div>
      <div class="payload-medium">
        <p>BIOWARE<br />30.4KG</p>
      </div>
      <div class="payload-small">
        <p>SOFTWARE<br />9.49KG</p>
      </div>
      <div class="elliot">
        <p>SOFTWARE<br />9.49KG</p>
      </div>
      <div class="payload-xs">
        <p>COVERED<br />9.49KG</p>
      </div>
    </div>
  </div>
</div>
