---
title: Welcome
---


  <div class="welcome-container">
    <div class="w-info">
      <img src="/images/sunny-logo.png" />
      <p>SUNNY.DELIVERY</p>
      <br />
      <p>~ABOUT</p>
      <p>STURDY DELIVERY SERVICE OPERATING THE AREA FKA SCANDINAVIA.
      <br />WE SPECIALIZE IN DELIVERING HARD- AND BIO-WARE.
      <br />FOR RUSHED AND UNIQUE DELIVERIES, PLEASE TAKE A LOOK AT OUR SPECIAL CIRCUMSTANCES OPTION.</p>
      <br />
      <p>〜について</p>
      <p>以前はスカンジナビアと呼ばれていた地域を運営する陸送サービス
      <br />私たちはハードとバイオウエアを提供することを専門としています。
      <br />一貫性のあるユニークな配達のために、私たちの特別な状況の選択をしてください。</p>
    </div>
    <div class="w-eng">
      <h3>Welcome to Sunny Delivery</h3>
      <p>In these worrying times it is a good thing to be able to keep track of your shipments! Our couriers are built by Sunny Heavy Industries, the courier frame is a carbon based alloy, bio-tissue fibres for rapid regeneration when in contact with rain and fully equipped with EVA-cores.</p>
      <p>This is a demo version of our service that will launch in due time. Please use this service as way to get the hand of our tools for when you are ready to use our services.</p>
    </div>
    <div class="w-jp">
    </div>
  </div>
