<div class="container">
  <div class="category">
    <p>ACCOUNT |
  </div>
  <div class="account">
    <p>Dominic Cobb</p>
    <p>Midori Lane</p>
    <p>Ometesando</p>
    <p>dc@nullified.com</p>
  </div>
</div>
