<!--
<div id="myModal" class="modal">
  <div class="o-close">
    <span class="close">&times;</span>
  </div>

  <div class="order-container">
    <div class="o title">
    write yo shit here
  </div>
    <div class="o disclaimer">
    shit gets real and stuff might get destroyed ykno</div>
    <div class="o category">
    what kind package you sending?</div>
    <div class="o weight">how fat is it</div>
    <div class="o dimension">whats your numbers?</div>
    <div class="o submit">send that shit over (we will let you know the cost before final delivery)</div>
  </div>
</div>
-->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
