<!--
<div id="myModal" class="modal">
  <div class="o-close">
    <span class="close">&times;</span>
  </div>

  <div class="order-container">
    <div class="o title">
    write yo shit here
  </div>
    <div class="o disclaimer">
    shit gets real and stuff might get destroyed ykno</div>
    <div class="o category">
    what kind package you sending?</div>
    <div class="o weight">how fat is it</div>
    <div class="o dimension">whats your numbers?</div>
    <div class="o submit">send that shit over (we will let you know the cost before final delivery)</div>
  </div>
</div>
-->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>



<!-- ORDER BUTTON STYLING -->
<div id="popup1" class="overlay">

  <div class="popup">
    <a class="close" href="#">
      <p>&times; BACK TO REALITY </p>
    </a>

    <div class="order hero">
      <p class="p60">+</p>
    </div>
    <div class="order hero">
      <p>PLEASE <br>PLACE <br>YOUR<br>ORDER</p>
      <p class="p12">//</p>
    </div>
    <div class="order info">
      <p> Please enter the payload’s
          height, width, weight and
          specify what type of ware
          (bio-, soft- or hard-ware).
          It is also possible to
          take a photograph, please
          sure you have enabled the
          ‘Deephoto’ setting.
          <br>
          <br>
          For rush- or emergency deliveries, please
          send your request as ‘Special Circumstances’
          <br>
          <br>
          For further questions please contact the support at help@sunnydelivery.com</p>
          <p class="p12">F.A.Q (DISABLED FOR DEMO PURPOSES)</p>
    </div>

    <div class="order variables">
      <div class="type height">
        <p>HEIGHT</p>
        <p>+</p>
      </div>
      <div class="type width">
        <p>WIDTH</p>
        <p>+</p>
      </div>
      <div class="type weight">
        <p>WEIGHT</p>
        <p>+</p>
      </div>
      <div class="type ware">
        <p>WARE</p>
        <p class="p12">+</p>
      </div>
    </div>

    <div class="order photo">
      <p>UPLOAD<br>PHOTO</p>
      <p class="p12">+</p>
    </div>

    <div class="order estimate">
      <p>SEND SPECS<br>TO RECIEVE<br>A ESTIMATE</p>
      <p class="p14">DELIVER AS<br>'NORMAL CIRCUMSTANCES'</p>
    </div>

    <div class="order sc">
      <p class="p14">DELIVER AS<br>'SPECIAL CIRCUMSTANCES'</p>
    </div>
    <div class="order sc">
      <p class="p14">DELIVER AS<br>'SPECIAL CIRCUMSTANCES'</p>
    </div>
  </div>

  <div class="demo">
    <p>DEMO<br>PURPOSES<br>ONLY</p>
  </div>


</div>
