<div class="container">
  <div class="category">
    <p>STATUS |
  </div>
  <div class="status">

<!-- DESCRIPTION - EVENt - ACTIVE -->
    <div class="event-active noll">
      <p>JOURNEY<br>STARTED</p>
    </div>
    <div class="event-active ett">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active tva">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active tre">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active fyra">
      <p>COURIER~<br>.LOST</p>
    </div>
    <div class="event-active fem">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active sex">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active sju">
      <p>CP~<br>.OK</p>
    </div>
    <div class="event-active atta">
      <p>EVENT~
        <br>.VOID-OUT
      </p>
    </div>
    <div class="event-active nio"></div>

    <div class="checkpoint zero current"></div>
    <div class="checkpoint one current"></div>
    <div class="checkpoint two current"></div>
    <div class="checkpoint three current"></div>
    <div class="checkpoint four fail"></div>
    <div class="checkpoint five current"></div>
    <div class="checkpoint six current"></div>
    <div class="checkpoint seven current"></div>
    <div class="checkpoint eight void"></div>
    <div class="checkpoint nine success"></div>


<!-- ACtIVE + BACKUP VERTICAL connectors -->
<!--
    <div class="checkpoint backup first"></div>
    <div class="checkpoint backup second"></div>
    <div class="checkpoint backup third"></div>
-->
    <div class="checkpoint backup fourth"></div>
    <!--
    <div class="checkpoint backup fifth"></div>
    <div class="checkpoint backup sixth"></div>
    <div class="checkpoint backup seventh"></div>
  -->
    <div class="checkpoint backup eighth"></div>
    <!--
    <div class="checkpoint backup ninth"></div>
  -->

    <div class="event-backup eden"></div>
    <div class="event-backup dva"></div>
    <div class="event-backup tri"></div>
    <div class="event-backup ceteri">
      <p>COURIER~
        <br>.REPLACEMENT
        <br>&nbsp;ARRIVED
        <br>.PAYLOAD
        <br>&nbsp;RETRIEVED
        <br>.CONTINUING
        <br>&nbsp;WORK
      </p>
    </div>
    <div class="event-backup pet"></div>
    <div class="event-backup sesh"></div>
    <div class="event-backup sedum"></div>
    <div class="event-backup osum">
      <p>COURIER~
        <br>.STATUS OK
        <br>.BACKUP OK
        <br>.CONTINUING
        <br>&nbsp;DELIVERY
      </p>
    </div>
    <div class="event-backup devet"></div>

    <!-- TIMELINE: ACTIVE -->
    <div class="liney c0"></div>
    <div class="liney c1"></div>
    <div class="liney c2"></div>
    <div class="liney c3"></div>
<!--<div class="liney c4"></div> -->
    <div class="liney c5"></div>
    <div class="liney c6"></div>
    <div class="liney c7"></div>
<!--<div class="liney c8"></div> -->

  <!-- TIMELINE: BACKUP -->
    <div class="liney b4"></div>
    <div class="liney b8"></div>


    <!-- INCOMING BACKUP -->
    <div class="entry-line"></div>

    <!-- CONNECTOR VERTICAL-->
    <!-- BECOMES HORIZONTAL ON MOBILE -->
    <div class="vertical c4"></div>
    <div class="vertical c5"></div>
    <div class="vertical c8"></div>
    <div class="vertical c9"></div>

    <!-- CONNECTOR QUARTER -->
    <div class="quarter-wrapper q5"></div>
    <div class="quarter-wrapper q9"></div>


    <!-- SUCCESS MESSAGE -->
    <div class="success-msg">
      <p>COURIER~
        <br>
        .DELIVERY
        <br>&nbsp;SUCCESSFUL
      </p>
    </div>
  </div>
</div>
