<div class="container">
  <div class="category">
    <p>SUPPORT |
  </div>
  <div class="support">
    <div class="support-subject">
      <input type="text" id="fname" name="firstname" placeholder="PAYLOAD 18.06.20 ~">
    </div>
    <div class="support-inquiry">
      <input type="text" id="lname" name="lastname" placeholder="Please write about your current shipping.">
    </div>
    <div class="support-send">
      <input type="submit" value="Submit">
    </div>
  </div>
</div>
