.order_btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffd300 url("/images/addsign.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 940px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 600px) {
    width: 60px;
    height: 60px;
  }
}
