---
title: Sunny Delivery
---

<!-- ORDER BUTTON STYLING -->
<div id="popup1" class="overlay">

  <div class="popup">
    <a class="close" href="#">
      <p>&times; BACK TO REALITY </p>
    </a>

    <div class="order hero">
      <p class="p60">+</p>
    </div>
    <div class="order hero">
      <p>PLEASE <br>PLACE <br>YOUR<br>ORDER</p>
      <p class="p12">//</p>
    </div>
    <div class="order info">
      <p> Please enter the payload’s
          height, width, weight and
          specify what type of ware
          (bio-, soft- or hard-ware).
          It is also possible to
          take a photograph, please
          sure you have enabled the
          ‘Deephoto’ setting.
          <br>
          <br>
          For rush- or emergency deliveries, please
          send your request as ‘Special Circumstances’
          <br>
          <br>
          For further questions please contact the support at help@sunnydelivery.com</p>
          <p class="p12">F.A.Q (DISABLED FOR DEMO PURPOSES)</p>
    </div>

    <div class="order variables">
      <div class="type height">
        <p>HEIGHT</p>
        <p>+</p>
      </div>
      <div class="type width">
        <p>WIDTH</p>
        <p>+</p>
      </div>
      <div class="type weight">
        <p>WEIGHT</p>
        <p>+</p>
      </div>
      <div class="type ware">
        <p>WARE</p>
        <p class="p12">+</p>
      </div>
    </div>

    <div class="order photo">
      <p>UPLOAD<br>PHOTO</p>
      <p class="p12">+</p>
    </div>

    <div class="order estimate">
      <p>SEND SPECS<br>TO RECIEVE<br>A ESTIMATE</p>
      <p class="p14">DELIVER AS<br>'NORMAL CIRCUMSTANCES'</p>
    </div>

    <div class="order sc">
      <p class="p14">DELIVER AS<br>'SPECIAL CIRCUMSTANCES'</p>
    </div>
    <div class="order sc">
      <p class="p14">DELIVER AS<br>'SPECIAL CIRCUMSTANCES'</p>
    </div>
  </div>

  <div class="demo">
    <p>DEMO<br>PURPOSES<br>ONLY</p>
  </div>


</div>


<!-- LOGO + NAVIGATION + ORDER BUTTON -->
<div class="wrapper">
  <div class="side-logo">
    <a href="#home">
      <p>.SUNNY.DELIVERY.</p>
      <img src="/images/sunny-logo.png" href="http://www.google.com" target="_blank"/>
    </a>
  </div>
  <div class="content">
    <div class="header-items">
      <div class="welcome">
        <p>Sunny Delivery is a service that helps you transfer the desire hard- soft- or bio-ware you wish to transport, our couriers specialies in navigating in the landscape with a 87% success rate.</p>
      </div>
      <div class="welcome">
        <p>Sunny Delivery is a service that helps you transfer the desire hard- soft- or bio-ware you wish to transport, our couriers specialies in navigating in the landscape with a 87% success rate.</p>
      </div>
      <div class="navigation">
        <ul>
          <a href="#support"><li>SUPPORT</li></a>
          <a href="#delivery"><li>DELIVERY</li></a>
          <a href="#payload"><li>PAYLOAD</li></a>
          <a href="#history"><li>HISTORY</li></a>
          <a href="#account"><li>ACCOUNT</li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="side-btn">
    <a href="#popup1">
      <div class="order-btn"></div>
    </a>
  </div>
</div>


<!-- MODULE PROFILE -->
<div class="wrapper" id="account">
  <div class="side">
  </div>
  <div class="content">
    <div class="module detail">
      <p>ACCOUNT~ Anna Sayoko</p>
    </div>
    <div class="module account">
      <div>
      </div>
      <div class="account-image">
        <p></p>
        <img src="/images/exo.png"/>
      </div>
      <div class="account-info">
        <p>ADDRESS</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,  eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.consectetur. </p>
      </div>
      <div class="account-payment">
        <p>PAYMENT</p>
        <p>Adipisci velit, sed quia non numquam eius modi tempora rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,  eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui rationrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,  eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, Nemo enim ipsam incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel.</p>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="side">
  </div>
</div>


<div id="bm"></div>



<!-- MODULE HISTORY -->
<div class="wrapper"  id="history">
  <div class="side">
  </div>

  <div class="content">
    <div class="module detail">
      <p>HISTORY~ Delivery overview</p>
    </div>
    <div class="module history">
      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn fail"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn fail"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn fail"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn conflict"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn missing"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn void-out"></div>
      </div>

      <div class="parcel">
        <p>2018.10.10<br>BIOWARE</p>
        <div class="btn ok"></div>
      </div>

    </div>
  </div>

  <div class="side">
  </div>
</div>


<!-- MODULE: PAYLOAD STATUS -->
<div class="wrapper"  id="payload">
  <div class="side"></div>

  <div class="content">
    <div class="module detail">
      <div class="courier-img"></div>
      <p>COURIER~ LeCoultre, J.</p><p class="load">CAPACITY~ 79kg</p>
    </div>
    <div class="module payload">
      <div class="package xsmall"><p>500g<br>◦</p></div>
      <div class="package small"><p>1kg<br>◦</p></div>
      <div class="package medium"><p>2kg<br>◦</p></div>
      <div class="package large"><p>5kg<br>◦</p></div>
      <div class="package xlarge"><p>10kg<br>◦</p></div>
      <div class="package xlarge"><p>10kg<br>◦</p></div>
<!--  <div class="package xxlarge"><p>20kg</p></div> -->
    </div>
  </div>

  <div class="side"></div>
</div>


<!-- MODULE: DELIVERY grid -->
<div class="wrapper" id="delivery">
  <div class="side"></div>

  <div class="content">
    <div class="module detail" >
      <p>DELIVERY~ Ongoing ETA 44.04.30</p>
    </div>

    <div class="module delivery">
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
      <div class="event icon"></div>
    </div>
    <div class="module delivery">
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
    </div>
    <div class="module delivery">
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
      <div class="event void"></div>
    </div>
    <div class="module delivery">
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
    </div>
    <div class="module delivery">
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
    </div>
    <div class="module delivery">
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
    </div>
  </div>

  <div class="side"></div>
</div>




<!-- MODULE: DELIVERY GRID AREA VERS -->
<div class="wrapper">
  <div class="side"></div>



  <div class="content">
    <div class="module detail" >
      <p>DELIVERY~ Ongoing ETA 44.04.30</p>
    </div>
    <div class="delivery-grid">
      <div class="event"></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="log">
        <p>journey started<p></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
    </div>
    <div class="delivery-grid">
      <div class="event line"></div>
      <div class="event time"></div>
      <div class="event line"></div>
      <div class="event time"></div>
      <div class="event line"></div>
      <div class="event time"></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event time"></div>
      <div class="event icon"></div>
      <div class="event time"></div>
      <div class="event void"></div>
      <div class="event "></div>
      <div class="event success"></div>
    </div>
    <div class="delivery-grid .crossover">
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event event-jump"></div>
      <div class="event "></div>
      <div class="event event-jump"></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event event-jump"></div>
    </div>
    <div class="delivery-grid">
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event extra"></div>
      <div class="event time"></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event extra"></div>
      <div class="event time"></div>
      <div class="event "></div>
    </div>
  </div>


  <div class="side"></div>
</div>





<!-- MODULE: DELIVERY - 24 grid - -->
<!--
<div class="wrapper" id="delivery">
  <div class="side"></div>

  <div class="content">
    <div class="module detail" >
      <p>DELIVERY~ Ongoing ETA 44.04.30</p>
    </div>

    <div class="module delivery24">
      <div class="event icon"></div>
      <div class="event time"></div>
      <div class="event icon"></div>
      <div class="event time"></div>
      <div class="event icon"></div>
      <div class="event time"></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
      <div class="event icon"></div>
      <div class="event "></div>
    </div>
    <div class="module delivery24">
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event time-l"></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event time-l"></div>
      <div class="event "></div>
    </div>
    <div class="module delivery24">
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event "></div>
      <div class="event void"></div>
      <div class="event time"></div>
      <div class="event time"></div>
      <div class="event time"></div>
      <div class="event "></div>
      <div class="event "></div>
    </div>
    <div class="module delivery24">
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
    </div>
    <div class="module delivery24">
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
      <div class="event line"></div>
    </div>
    <div class="module delivery24">
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
      <div class="event extra"></div>
    </div>
  </div>

  <div class="side"></div>
</div>
-->






<!-- MODULE: SUPPORT -->
<div class="wrapper" id="support">
  <div class="side"></div>

  <div class="content">
    <div class="module detail" >
      <p>SUPPORT~ Please send in your question regarding this delivery via this form, the reply will be sent to your connected mail account.</p>
    </div>
    <div class="module support">
      <div class="form subject">Subject Line [THIS IS FOR DEMO PURPOSES ONLY]</div>
      <div class="form content">Content [DEMO PURPOSE ONLY]</div>
      <div class="form form-btn">
          <p>✚<p>
      </div>
    </div>
  </div>

  <div class="side"></div>
</div>


<!-- FOOTER -->
<div class="wrapper" id="contact">
  <div class="side left"></div>

  <div class="footer">
    <div class="footer-logo">
      <img src="/images/sunny-logo.png" href="http://www.google.com" target="_blank"/>
      <p>SUNNY DELIVERY</p>
    </div>
    <div class="footer-description">
      <p><strong>STORY</strong></p>
      <p>Sunny Delivery is a service that helps you transfer the desire hard- soft- or bio-ware you wish to transport, our couriers specialies in navigating in the landscape with a 87% success rate.</p>
    </div>
    <div class="footer-description">
      <p><strong>ストーリー</strong></p>
      <p>Sunny Delivery is a service that helps you transfer the desire hard- soft- or bio-ware you wish to transport, our couriers specialies in navigating in the landscape with a 87% success rate.</p>
    </div>
    <div class="footer-contact">
      <p><strong>CONTACT</strong></p>
      <p>St.lordship House
      <br>Neverwhere Street No.9
      <br>No-townville
      <br></p>
    </div>
    <div class="footer-contact">
      <p><strong>—</strong></p>
      <p>hi@sunnydelivery.com
      <br>+1 490 8840 84
      <br>www.sunnydelivery.com
      <br></p>
    </div>
  </div>
</div>
